div.graph{
    height: 20px;
    width: 150px;
    position: absolute;
    padding: 15px;
    background-color: rgba(255,255,255,.75);
    top: 120;
    left: 80px;
}
.boxed {
  border: 1px solid black ;
  margin-bottom: 100px;
}

#restart {
  margin-top: -50px;
}

#pos-filter {
  margin-top: 50px;
}

#name-filter {
  margin-top: 100px;
}
.center-div
{
     margin: 0 auto;
     width: 90%;
}

p {
  text-align: center;
}
body{
  padding-top: 60px;
  padding-bottom: 40px;
}
.fixed-header, .fixed-footer{
    width: 100%;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}
.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
nav{
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 25px;
}

h3{
  font-weight: bold;
  text-align: center;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
/* body {
  font-family: 'Helvetica Neue', Helvetica; font-weight: 300; padding: 20px;
} */

th {
  text-align: center;
  border: 1px black solid;
  padding: 5px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

td {
  border: 1px black solid;
  padding: 5px;
  font-size: 11px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  width: 100%;
}

span {
  position: absolute;
  padding: 0 10px;
  background: white;
  opacity: 0;
  width: 70px;
  height: 18px;
  border-style: solid;
  border-color: #ff1f53;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

#tool1 {
  width: 150px;
}

svg {
  width: 65%;
}

#table {
  border: 1px solid black;
  float: right;
  width: 30%;
  height: 60%;
  margin-top: 60px;
  margin-left: 60%;
  margin-right: 10%;
  overflow-y: scroll;
}
